# Dependencies
node_modules
**/node_modules

# Build Output
dist
build
coverage
out

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# Environment Files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.vscode
.idea

# OS Files
.DS_Store
Thumbs.db

# Generated Assets
public
client/dist
server/dist

# Cache
.cache
.eslintcache

# Temporary Files
tmp
temp

# Misc
*.min.js